<h2>SKILLS</h2>

<section class="skillShell">
  <div *ngFor="let skill of skills" class="skillIndividual">
    <ng-container *ngIf="skill.large;then content else other_content"></ng-container>

    <ng-template #content>
      <img class="image large" src='{{skill.image}}' alt='{{skill.name}}' />
      <h3>{{skill.name}}</h3>
    </ng-template>

    <ng-template #other_content>
      <img class="image" src='{{skill.image}}' alt='{{skill.name}}' />
      <h3>{{skill.name}}</h3>
    </ng-template>

  </div>
</section>