/* HEADER */
.headerShell {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 55px;
    padding: 0 25px;
    border-bottom: 3px grey solid;
}

.headerLeft {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

/* MENU */
#menu {
    display: none
}

