<!-- Header -->
<header class="headerShell">
  <section class="headerLeft">
    <h3>Trent Peschke</h3>
    <h3>The Man, the Myth, the Legend</h3>
  </section>
  <section class="menuButtonShell">
    <h3>Menu</h3>
    <div class="hamburgerOuter">
      <div class="hamburgerInner"></div>
      <div class="hamburgerInner"></div>
      <div class="hamburgerInner"></div>
    </div>
  </section>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li>
      <a href="#banner">Home</a>
    </li>
    <li>
      <a href="#four">Skills</a>
    </li>
    <li>
      <a href="#one">Projects</a>
    </li>
    <li>
      <a href="#five">About</a>
    </li>
    <!-- <li>
        <a href="#cta">Contact</a>
      </li> -->
  </ul>
  <ul class="actions vertical">
    <li>
      <a href="#" class="button special fit">Contact</a>
    </li>
    <!-- <li><a href="#" class="button fit">Log In</a></li> -->
  </ul>
</nav>