<!-- Header -->
<header class="headerShell">
  <section class="headerLeft">
    <div>Trent Peschke</div>
    <div>The Man, the Myth, the Legend</div>
  </section>
  <section>Menu</section>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li>
      <a href="#banner">Home</a>
    </li>
    <li>
      <a href="#four">Skills</a>
    </li>
    <li>
      <a href="#one">Projects</a>
    </li>
    <li>
      <a href="#five">About</a>
    </li>
    <!-- <li>
        <a href="#cta">Contact</a>
      </li> -->
  </ul>
  <ul class="actions vertical">
    <li>
      <a href="#" class="button special fit">Contact</a>
    </li>
    <!-- <li><a href="#" class="button fit">Log In</a></li> -->
  </ul>
</nav>